<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="static/index/pic/favicon.png">
  <script type="text/javascript" src="/static/index/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/index/js/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/static/index/js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="/static/index/js/amstock.js"></script>
  <script type="text/javascript" src="/static/index/js/jquery.tagcanvas.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="/static/index/js/sentiment_report.js"></script>
  <script type="text/javascript" src="/static/index/js/bootstrap.min.js"></script>

  <title>管理界面</title>

  <!-- Bootstrap core CSS -->


  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/bootstrap.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/timeline.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/jquery-ui-1.8.18.custom.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/justified-nav-detail.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/bootstrap-responsive.min.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/style.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index/css/toggle_switch.css') }}">






  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->

      <style type="text/css">
        body {
          font: 10pt;
          font-family: verdana, sans, arial, sans-serif;
          background-color: #F2F2F2;
        }
      </style>
      <script>

      function redraw_tagcanvas() {
  if(!$('#myCanvas').tagcanvas(oopts,'tags_div')) {
    $('#myCanvas').hide();
  }
}
       $(function(){
  // masonry plugin call
  $('#container').masonry({itemSelector : '.item',});
  redraw_tagcanvas();

  //injecting arrow points
  function Arrow_Points(){
    var s = $("#container").find(".item");
    $.each(s,function(i,obj){
      var posLeft = $(obj).css("left");
      if(posLeft == "0px"){
        html = " <span class='rightCorner' ></span>";
        $(obj).prepend(html);
      }
      else {
        html = " <span class='leftCorner' ></span>";
        $(obj).prepend(html);
      }
    });
  }
  Arrow_Points();
});
</script>
</head>

<body>
  <div class="container">
    <div class="panel panel-default panel-top">
      <!-- Default panel contents -->
      <div class="panel-heading panel-color"><span>九一八</span></div>
      <div class="panel-body">
        <p>九一八事变是日本帝国主义长期以来推行对华侵略扩张政策的必然的结果，也是企图把中国变为其独占的殖民地而采取的重要步骤。
        </p>
      </div>
    </div>




    <div class="row">
      <div class="col-lg-12 well-big">
        <div class="well well-con">
          <div id="origin-tag">
            <strong>标签：</strong><i>国耻、日货、钓鱼岛、历史</i>
          </div>
          <button type="button" class="btn pull-right" onclick="alter_tag()">
            修改标签
          </button>
        </div>
      </div>
    </div>


    <label class="appendedInput" style="font-size:18px;padding-top:10px;margin-left:20px;">开始时间：<span class="badge badge-success" style="font-size:18px"> 2012.9.18</span></label>
    <label class="appendedInput" style="font-size:18px;padding-top:10px;margin-left:20px;">结束时间：<span class="badge badge-success" style="font-size:18px"> 2013.9.18</span></label>
    <label class="appendedInput" style="font-size:18px;padding-top:10px;margin-left:20px;">总数：<span class="badge badge-success" style="font-size:18px"> 10000条</span></label>
    <label class="appendedInput" style="font-size:18px;padding-top:10px;margin-left:20px;">参与人数：<span class="badge badge-success" style="font-size:18px"> 2000人</span></label>
    <label class="appendedInput" style="font-size:18px;padding-top:10px;margin-left:20px;">地域：<span class="badge badge-success" style="font-size:18px"> 北京、上海、广州</span></label>

    <div class="panel-outer-d">
      <div class="panel-nav-d">关键词云及通道占比分析</div>
      <div id="panel-d" class="row-fluid" style="border:1px solid gray;">
        <div class="col-lg-8 pic-left">
          <div id="tag_cloud_div" class="span8">
            <canvas width="350px" height="400px" id="myCanvas" style="backgroud-color:#F2F2F2;">
              <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
            <div id="tags_div" style="display:none;">
              <ul id="tags_ul">
                <li><a href="#tag_cloud_div" style="font-size:3.250418312804116ex">钓鱼岛</a></li>
                <li><a href="#tag_cloud_div" style="font-size:1.297064516093913ex">中国</a></li>
                <li><a href="#tag_cloud_div" style="font-size:3.250418312804116ex">日货</a></li>
                <li><a href="#tag_cloud_div" style="font-size:1.298434001099274ex">日本</a></li>
                <li><a href="#tag_cloud_div" style="font-size:10ex">国耻</a></li>
                <li><a href="#tag_cloud_div" style="font-size:3.25ex">九一八</a></li>
                <li><a href="#tag_cloud_div" style="font-size:9.58574977005141ex">铭记历史</a></li>
                <li><a href="#tag_cloud_div" style="font-size:2.182489461402386ex">靖国神社</a></li>
                <li><a href="#tag_cloud_div" style="font-size:1.3359537454169699ex">教科书修改</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pic-right pic-div">

          <div id="pie_chart"></div>

        </div>
      </div>
    </div>

    <div class="panel-outer-d">
      <div class="panel-nav-d">鱼骨图分析</div>
      <div id="panel-d" style="border:1px solid gray;">
        <div class="ygt-title">
          <button type="button" href="" class="btn btn-success " onclick="wb()">微博</button>
          <button type="button" href="" class="btn btn-success " onclick="lt()">论坛</button>
          <button type="button" href="" class="btn btn-success " onclick="bk()">博客</button>
          <button type="button" href="" class="btn btn-success " onclick="xw()">新闻</button>
        </div>
        <div class="panel-outer">
          <div id="container" >
            <!-- timeline导航 -->
            <div class="timeline_container" >
              <div class="timeline" >
                <div class="plus" ></div>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane active" id="wb">
                <div class="item" >
                  <div class="inner">
                    <span class="title">2012.9.19 腾讯新闻：韩德强微博说明为何打人 称不让“汉奸”放肆</span>
                    <hr />
                    <span>昨日在北京的中，有网友在微博上说：“在游行的队伍集合时，一个老人对几个人打出的“毛主席我们想念您”这个口号提出了反对，他说：将这种维护国家尊严和民族大义的愿望寄托在毛泽东身上是错误的，也是不可能实现的等等。年轻人听后上去就给这个老人两个耳光，说：这是在侮辱毛主席。两人互骂对方是汉奸，警察拉开了事。”</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner" >
                    <span class="title">2012.9.21 21CN新闻：韩德强打人不认错，那就让法律来制裁</span>
                    <hr />
                    <span>韩德强教授打人并发表声明，声称对自己的行为负责且没有必要认错。作为“乌有之乡”的作者之一，秉持着“毛左”的思想遗风。在示威游行的过程中，老者开始咒骂毛泽东主席。原本这应该属于言论自由的领域内，没有任何政治纠葛。但却被韩德强斥之为玷污领袖的光荣，被斥之为汉奸。那么，韩德强作为北航的教授并没有权力和资格将人分为三六九等，更不能将人评价为汉奸还是爱国者。</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner" >
                    <span class="title">2012.9.21 新浪财经 大词崇拜的危害 打人的韩德强为何理直气壮？</span>
                    <hr />
                    <span>近日，北京航天航空大学教授韩德强扮演路上法官，判定某位同行的老人卖国，遂替想象中的正义行道，打了老人两记耳光。</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner">
                    <span class="title">2012.9.26 网易新闻：北航教授韩德强掌掴老人 学生“罢”课是否妥当</span>
                    <hr />
                    <span>2012年9月24日，辽宁师范大学政治与行政学院博士生导师木然在其认证的腾讯微博上称，在“保钓”游行中因观点不合而殴打八旬老人的韩德强已连续四堂课没有一个学生。此微博内容一发就引起了众多网友的热议。不少网友力挺北航学子的做法，支持封杀韩德强。但也有一些网友对韩德强表示了同情，觉得教学和个人品德是两码事，认为有些学生是在跟风罢课。</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner" >
                    <span class="title">2012.9.27 搜狐新闻 洪振快：再评韩德强打人 领袖可以批评</span>
                    <hr />
                    <span>韩德强的支持者们认为，批评毛泽东违反宪法。这与事实不符。现行1982年宪法的序言中有一处提到毛泽东，但属于事实陈述，两处提到毛泽东思想，属于观念表达，都没有明确规定不能批评毛泽东。而且，宪法序言不同于正文，正文具有法律效力，而序言是否具有法律效力存在很大争议，全国人大法工委原主任高锴先生算是权威人物，他就认为宪法序言是不具有法律效力的。</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner" >
                    <span class="title">2012.9.28 搜狐新闻 白岩松:韩德强打八旬老人 实是另一种“汉奸”</span>
                    <hr />
                    <span>据央视报道，在北京的保钓游行活动中，北京航空航天大学教授韩德强证实因观点不一致，自己曾两次打一名80多岁老人耳光，并称这个老人是“汉奸”。</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner" >
                    <span class="title">2012.10.13 网易财经 韩德强 毛是Teacher</span>
                    <hr />
                    <span>“毛主席在我心目当中的地位跟穆罕默德（在阿拉伯世界的地位）是一样的。”温文尔雅、说话慢声细语的韩德强这样解释他愤怒的由来。“忍无可忍，不能再忍！”随着音调拔高，他颤抖得更加显著。</span>
                  </div>
                </div>
                <div class="item" >
                  <div class="inner" >
                    <span class="title">2012.10.13 凤凰网 韩德强谈砸烧日系车:普通人就一蚂蚁 被踩死没办法</span>
                    <hr />
                    <span>在游行队伍当中，我就是一名爱国的、反日的公民；我回到大学讲堂上，我是大学老师。</span></div>
                  </div>
                  <div class="item" >
                    <div class="inner" >
                      <span class="title">2012.10.16 新浪新闻 韩德强谈砸车:大象走路怎能顾得蚂蚁螳螂?</span>
                      <hr />
                      <span>人物周刊：那日系车和日系车主就变成了殉道者？韩德强：那没办法，那没办法。大象走路，它能顾得了蚂蚁螳螂？一个国家一个社会的行动，它就是这样的呀，它不可能是一点损失都没有的呀。</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-outer-d">
        <div class="panel-nav-d">要素分析</div>
        <div id="panel-d" style="border:1px solid gray;">
          <div class="container-d">
            <div class="row">
              <ul class="thumbnails child-sites">
                <div class="col-md-3">
                  <li class="span3" style="list-style-type:none;">
                    <a class="thumbnail" href="/evolution/weibo" target="_blank">
                      <img src="/static/index/pic/yh.jpg" alt="演化" width="150px" height="100px">

                    </a>
                    <h4 style="text-align:center;">演化要素</h4>
                  </li>
                </div>
                <div class="col-md-3">
                  <li class="span3" style="list-style-type:none;">
                    <a class="thumbnail" href="/opinion/weibo
                    " target="_blank">
                    <img src="/static/index/pic/yuyi.jpg" alt="语义" width="150px" height="100px">

                  </a>
                  <h4 style="text-align:center;">语义要素</h4>
                </li>
              </div>
              <div class="col-md-3">
                <li class="span3" style="list-style-type:none;">
                  <a class="thumbnail" href="/moodlens/weibo
                  " target="_blank">
                  <img src="/static/index/pic/qx.png" alt="情绪" width="150px" height="100px">
                </a>
                <h4 style="text-align:center;">情绪要素</h4>
              </li>
            </div>
            <div class="col-md-3">
              <li class="span3" style="list-style-type:none;">
                <a class="thumbnail" href="/propagate/weibo" target="_blank">
                  <img src="/static/index/pic/cb.png" alt="传播" width="150" height="200">
                </a>
                <h4 style="text-align:center;">传播要素</h4>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 well-big" >
        <div class="well well-con" >
          <div id="origin-comment">
            <strong>评价：</strong><i>我们要铭记历史</i>
          </div>
          <button type="button" class="btn pull-right" onclick="alter_comment()">
            修改评价
          </button>
        </div>
      </div>
    </div>

    <div  class="anli-download">
      <p>
        <a class="btn btn-small btn-success" href="#" id="out"><i class="icon-download-alt"></i> <b>导出案例</b></a>
      </p>
    </div>

    <script src="../../static/index/js/highstock.js"></script>
    <script src="../../static/index/js/exporting.js"></script>
    <script src="../../static/index/js/jquery.tagcanvas.min.js"></script>
    <script src="../../static/index/js/jquery.totemticker.js"></script>

    <script>

      <!-- 加载标签 -->
      function show_tag(){
        $.ajax({
          url: "/index/show_tag_data/",
          type: "GET",
          dataType:"json",
          success: function(data){
            $('#origin-tag').empty();
            var html = "<strong>标签：</strong>";
            for(var i = 0;i < data['tag'].length;i += 1){
              newtag = data['tag'][i];
              html += "<i>" + newtag + "、" + "</i>";
            }
            $("#origin-tag").append(html);
          }
        });

      }

      show_tag();
      <!-- 修改标签-->
      function alter_tag(){
        var f1=prompt("请输入新的标签:","");
        if(f1){
          $.ajax({
            type:"POST",
            url:"/index/alter_tag/",
            dataType: "json",
            async:false,
            data:{tag : f1},
            success: function(data){
              var html = "<strong>标签：</strong>";
              for (var idx1 in data){
                console.log(data);
                html += "<i>" + data[idx1] + "</i>";
                $('#origin-tag').empty();
                $("#origin-tag").append(html);
              }
            }
          });
        }
      }

      <!-- 加载评论-->
      function show_comment(){
        $.ajax({
          url: "/index/show_comment_data/",
          type: "GET",
          dataType:"json",
          success: function(data){
            $('#origin-comment').empty();
            var html = "<strong>评价：</strong>";
            for(var i = 0;i < data['comment'].length;i += 1){
              user = data['comment'][i];
              html += "<i>" + user + "、" + "</i>";
            }
            $("#origin-comment").append(html);
          }
        });

      }

      show_comment();

      <!--修改评论-->
      function alter_comment(){
        var f2=prompt("请输入新的评价:","");
        if(f2){
          $.ajax({
            type:"POST",
            url:"/index/alter_comment/",
            dataType: "json",
            async:false,
            data:{comment : f2},
            success: function(data){
              var html = "<strong>评价：</strong>";
              for (var idx2 in data){
                html += "<i>" + data[idx2] + "</i>";
                $('#origin-comment').empty();
                $("#origin-comment").append(html);
              }
            }
          });
        }
      }

      <!-- 切换到论坛 -->
      function lt(){
        $.ajax({
          type:"GET",
          url:"/index/show_lt_data/",
          dataType: "json",
          async:false,
          success: function(data){
            $('#wb').empty();
            var html ='';
            for(var i=0;i < data['title'].length;i += 1){
              var title = data['title'];
              var content = data['content'];
              html += '<div class="item">';
              html += '<div class="inner">';
              html += '<span class="title">' + title[i] + '</span>';
              html += '<hr />';
              html += '<span>' + content[i] + '</span>';
              html += '</div>';
              html += '</div>';
            }
            $("#wb").append(html);
          }
        });
        //$('#container').masonry({itemSelector : '.item',});
        //redraw_tagcanvas();
        //Arrow_Points();
}

</script>

<script>
  var keyword = String('');
  //console.log(keyword);
    // $(document).ready(function(){
    //     init_statistics(keyword);
    // })
function chg_emotion_pie(raw_data){
  $('#pie_chart').empty();
  Pie(raw_data)
}
function init_statistics(keyword){
  $.ajax({
    url: "/opinion/weibo/?keyword=" + keyword,
    type: "GET",
    dataType:"json",
    success: function(data){
      chg_emotion_pie(data);
    }
  });
}
$(function Pie(data) {
  $('#pie_chart').highcharts({
    credits: {
      enabled: false
    },
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: '各通道信息量占比'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    series: [{
      type: 'pie',
      name: '',
      data: [
      ['微博',   55.5],
      ['论坛',    14.5],

      ['博客',    8.8],
      ['新闻',     21.2],
      ]
    }]
  });
});
</script>

<!-- Site footer -->
<div class="footer">
  <p>&copy; IDEC 2014</p>
</div>
</div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

  </html>







