{% extends "base.html" %}
{% block title %}情感分析{% endblock %}
{% block module_title %}深度分析{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="/static/css/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/css/tab.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/css/style_blue.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/css/htip.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/css/thickbox.css" type="text/css" media="all">
    <!-- 走势图切换按钮css -->
    <link rel="stylesheet" href="/static/css/toggle_switch.css">

    <style type="text/css">
        /* keywords tag cloud */
        #keywords_cloud_div {
            position: relative;
            width: 450px;
            height: 170px;
            margin: 0px auto 0
        }

        #keywords_cloud_div a {
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Microsoft YaHei;
            color: #AD12C2;
            font-weight: bold;
            text-decoration: none;
            padding: 3px 6px;
        }

        #keywords_cloud_div a:hover {
            border: 1px solid #eee;
            background: #000;
        }
        #keywords_cloud_div .blue {
            color: blue;
        }
        #keywords_cloud_div .red {
            color: red;
        }
        #keywords_cloud_div .yellow {
            color: yellow;
        }

        #trend_div {
            height: 250px;
            width: 900px;
            float: left;
            border: 1px solid #F0F0F0;
            background: #F0F0F0;
        }

    </style>
{% endblock head_css %}

{% block head_js %}
    <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script src="/static/css/js/tab.js" type="text/javascript"></script>
    <script src="/static/css/js/htip.js" type="text/javascript"></script>
    <script src="/static/css/js/miaov.js" type="text/javascript"></script>
    <script src="/static/css/js/thickbox.js" type="text/javascript"></script>
    <script src="/static/js/echarts-2.0.1/build/echarts-plain.js" type="text/javascript"></script>
{% endblock head_js %}

{% block content %}

    <div id="floatMenu"></div>

    <div class="main2">
        <div class="leftbox">
            <ul>
                <li class="menu_main">
                    <a href="/index/gaishu/">舆情概况</a>
                </li>
                <li class="menu_main">
                    <a href="/index/zhibiao/">舆情指数</a>
                </li>
                <li class="menu_main_on">
                    <a href="#">深度分析</a>
                </li>
                <li class="menu_son">
                    <a href="/index/time/">时间分析</a>
                </li>
                <li class="menu_son">
                    <a href="/index/ditu/">地域分析</a>
                </li>
                <li class="menu_son">
                    <a href="/index/network/">网络分析</a>
                </li>
                <li class="menu_son">
                    <a href="/index/semantic/">语义分析</a>
                </li>
                <li class="menu_son">
                    <a href="/index/moodlens/">情感分析</a>
                </li>
                <li class="menu_son">
                    <a href="#">监控预警</a>
                </li>
            </ul>
        </div>

        <div class="rightbox">
            <div id="trend_div_container">
                <div class="control-group" id="togglecount">
                    <div class="controls btn switch switch-two">
                        <input id="relative" name="view" type="radio" checked>
                        <label id="relative_label" for="relative">相对比例</label>

                        <input id="absolute" name="view" type="radio">
                        <label id="absolute_label" for="absolute">绝对数量</label>
                        <span class="slide-button btn btn-success"></span>
                    </div>
                </div>
                <div id="trend_div"></div>
            </div>
            <div id="pie_div" style="height:200px;margin:20px;width:400px;float:right;background:#F0F0F0;border:1px solid #F0F0F0"></div>
            <div id="keyword_cloud_outframe" style="height:200px;width:450px;float:left;border:1px solid #F0F0F0;margin-top:20px;background:#F0F0F0">
                <h4 style="text-align:center;font-weight:lighter">关键词云图</h4>
                <div id="keywords_cloud_div"></div>
            </div>
            <div id="weibos_div" style="height:400px;float:left;width:900px;border:1px solid #ADADAD;background:#E0E0E0">
                <div id="tab">
                    <div class="tabList">
                        <ul>
                            <li class="cur">高兴</li>
                            <li>愤怒</li>
                            <li>悲伤</li>
                        </ul>
                    </div>

                    <div class="tabCon">
                        <div class="cur" id="vertical-ticker"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/api/trend_weibo_keyword_pie.js" type="text/javascript"></script>
{% endblock content %}
