{% extends "base.html" %}
{% block title %}地域分析{% endblock %}
{% block module_title %}深度分析{% endblock %}

{% block head_css %}
    <style type="text/css">
        #allmap {
            width: 1110px;
            height: 600px;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
{% endblock head_css %}

{% block head_js %}
    <script src="http://api.map.baidu.com/api?v=2.0&ak=aBrX8X2tEjcqiKwL78DLmanZ" type="text/javascript"></script>
    <script src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js" type="text/javascript"></script>
    <script src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js" type="text/javascript"></script>
    <script src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js" type="text/javascript"></script>
    <script src="/static/js/baidumap/city2lnglat.js" type="text/javascript"></script>
{% endblock head_js %}
{% block content %}
    <div id="allmap"></div>

{% endblock content %}
{% block tail_js %}
    <script src="/static/js/baidumap/mapview.js" type="text/javascript"></script>
{% endblock tail_js %}

