{% extends "base.html" %}
{% block module_title %}指数分析{% endblock %}

{% block head_css %}

    <style type="text/css">
        /* keywords tag cloud */
        .node circle {
          cursor: pointer;
          fill: #fff;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

        .node text {
          font-size: 11px;
        }

        path.link {
          fill: none;
          stroke: #ccc;
          stroke-width: 1.5px;
        }
        #keywords_cloud_div {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0px auto 0
        }

        #keywords_cloud_div a {
            position: absolute;
            top: 0px;
            left: 0px;
            font-family: Microsoft YaHei;
            color: #AD12C2;
            font-weight: bold;
            text-decoration: none;
            padding: 3px 6px;
        }

        #keywords_cloud_div a:hover {
            border: 1px solid #eee;
            background: #000;
        }
        #keywords_cloud_div .blue {
            color: blue;
        }
        #keywords_cloud_div .red {
            color: red;
        }
        #keywords_cloud_div .yellow {
            color: yellow;
        }

        #trend_div {
            height: 270px;
            width: 100%;
            float: left;
            border: 1px solid #F0F0F0;
            background: #F0F0F0;
        }

        .blkUnit {
            position: relative;
            clear: both;
            margin-top: 25px;
            background-color: #fff;
        }
        .blkUnit .titlBar {
            position: relative;
            background-color: #f6f6f6;
        }
        .titlBar h4 {
            display: inline-block;
            margin-top: -5px;
            padding-right: 0px;
            font-size: 15px;
            color: #666;
        }
        .titlBar .compInfo {
            padding-right: 15px;
            color: #858585;
        }
        .stmTabs{
            padding: 20px;
        }
        .stmTabs .tabTitle {
            height: 22px;
            margin-bottom: 12px;
            border-bottom: 1px solid #f0f0f0;
        }
        .stmTabs .tabLi .nmTab, .stmTabs .tabLi .hvTab {
            max-width: 110px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .stmTabs .tabLi .nmTab, .stmTabs .tabLi .hvTab {
            height: 23px;
            padding: 0 14px;
            _float: left;
        }
        .stmTabs .tabLi {
            display: block;
            float: left;
            text-decoration: none;
            color: #666;
        }
        .stmTabs .tabLi .hvTab {
            display: none;
            color: #6e87d7;
            height: 21px;
            border-bottom: 2px solid #6e87d7;
        }
                .lrRadius {
            display: inline-block;
            width: 184px;
            height: 25px;
            margin: 0 6px;
            text-align: right;
            font-weight: normal;
        }
        .lrRadius .lrRl {
            float: left;
            margin-left: -6px;
            background-position: -100px -180px;
        }
        .lrRadius .lrRl, .lrRadius .lrRr {
            top: 0;
            width: 6px;
            height: 20px;
            background-image: url(../imgs/icons.png?0508);
        }
        .lrRadius .lrRc {
            float: left;
            width: 180px;
            height: 18px;
            padding-top: 2px;
            background-color: #e2e2e2;
            text-align: left;
        }
        .lrRadius .lrRb {
            float: left;
            width: 200px;
            height: 18px;
            padding-top: 2px;
            background-color: #e2e2e2;
            text-align: left;
        }
        td, th {
            display: table-cell;
            vertical-align: inherit;
            padding-left: 80px;
        }
        th {
            font-weight: bold;
        }

        .node circle {
          cursor: pointer;
          fill: #fff;
          stroke: steelblue;
          stroke-width: 1.5px;
        }

        .node text {
          font-size: 11px;
        }

        path.link {
          fill: none;
          stroke: #ccc;
          stroke-width: 1.5px;
        }

        .btn {
            display: inline-block;
            padding: 1px 12px;
            font-size : 10px;
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
        }

    </style>
{% endblock head_css %}

{% block head_js %}
    <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <script src="/static/js/echarts-2.0.1/_build/echarts-plain.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/css/js/d3.js"></script>
    <script type="text/javascript" src="/static/css/js/d3.layout.js"></script>

{% endblock head_js %}

{% block content %}

    <div class="blkUnit grpUnit" id="trendProfile">

        <div class="titlBar" style="padding-bottom:0px;">
            <br>
            <h4>社会舆情指标体系</h4>
            <i id="trend_tooltip" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="社会舆情的各类信息"></i>&nbsp;&nbsp;
            <span id="peak_trend_tooltip"></span>
            <span class="pull-right" style="margin: -14px -9px -10px auto;" data-animated="false">
            </span>
        </div>
        <div class="tabUnit" style = "padding-top:5px;"> 
            <div class="control-pane">
                <button class="btn btn-danger" onclick='draw_index()' style="float: left;">舆情指数</button>
            </div>
            <div class="control-pane">
                <button class="btn btn-danger" onclick='json_data()'   style="float: left;">指标体系</button>
            </div>
            <div class="control-pane">
                <button class="btn btn-danger" onclick='draw_line()' style="float: left;">热度走势</button>
            </div> 
         <!--    <table class="mstable" id="mstable1" style="margin-top:10px">
            </table> -->
            <div id ='textarea'style="float:right"><textarea cols = 50 rows = 4>舆情指标体系：</textarea></div>
                <div id = 'index'  align="center">
                </div>
        </div>
    </div>

{% endblock content %}
{% block tail_js %}
        <script type="text/javascript">
            var currentAmount = 25;
            function showtotal(){
               var obj = document.getElementById("total");
               console.log(obj.innerHTML);
               obj.innerHTML = "总量度"+'['+Math.random().toExponential(2).toString()+"/"+Math.random().toExponential(2).toString()+']';

            }
            $("#trend_tooltip").tooltip();
        </script>
        <script src="/static/css/js/index.js" type="text/javascript"></script>

{% endblock tail_js %}
