.navbar-inner {
  background-color: rgb(19, 112, 218);
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-fixed-top .nav>li>a, .navbar-fixed-top .brand{
  color:white;
}

.navbar-fixed-top .nav>li>a:hover{
  color:#0088cc;
  background-color: #FFFFFF;
}

.navbar-fixed-top .nav>.active>a, .navbar-fixed-top .nav>.active>a:hover,.navbar-fixed-top .nav>.active>a:focus{
  color: #0088cc;
  background-color: #EEEEEE;
}
