<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>系统界面</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/opinion/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/opinion/css/justified-nav.css" rel="stylesheet">
    <link href="../../static/opinion/css/style.css" rel="stylesheet">
    <link href="../../static/opinion/css/base.css" rel="stylesheet">

    <script src="../../static/opinion/js/jquery-1.9.1.min.js"></script>
    <script src="../../static/opinion/js/highcharts.js"></script>
    <script src="../../static/opinion/js/highcharts.js"></script>
    <script src="../../static/opinion/js/highcharts-more.js"></script>

    <script type="text/javascript" src="../../static/opinion/js/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/opinion/css/timeline.css">
    

        <script type="text/javascript">

$("#search_all").click(function() {

      window.location.href="meaning.html#";
    });

    </script>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
     <script type="text/javascript">
     google.load("visualization", "1");
     google.setOnLoadCallback(drawVisualization);
        var timeline;
        var data;

        function getSelectedRow() {
            var row = undefined;
            var sel = timeline.getSelection();
            if (sel.length) {
                if (sel[0].row != undefined) {
                    row = sel[0].row;
                }
            }
            return row;
        }

        // Called when the Visualization API is loaded.
        function drawVisualization() {
            // Create a JSON data table
            data = [
                {
                    'start': new Date(2014,7,23),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,7,23,23,0,0),
                    'end': new Date(2014,7,2,10,10,0),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,6,26),
                    'end': new Date(2014,7,2),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,7,26),
                    'end': new Date(2014,8,2),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,7,13,23,0,0),
                    'end': new Date(2014,7,20,10,10,0),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,7,29),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,7,31),
                    'end': new Date(2014,8,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                },
                {
                    'start': new Date(2014,8,31),
                    'end': new Date(2014,9,3),
                    'content': '观点'
                }
            ];

            

            // specify options
            var options = {
                'width':  '100%',
                'height': '300px',
                'editable': false,   // enable dragging and editing events
                'style': 'box',
                'timeChangeable': false,
                'unselectable': false,
                'groupChangeable': false,
                'timeChangeable': false
            };

            // Instantiate our timeline object.
            timeline = new links.Timeline(document.getElementById('mytimeline'));

            google.visualization.events.addListener(timeline, 'select', onadd);

            // Draw our timeline with the created data and options
            timeline.draw(data, options);
        }

       var onadd = function () {
            var row = getSelectedRow();
            document.getElementById("info").innerHTML += "item " + row + " created<br>";
            $.colorbox({inline:true, href:"#area"});
/*            $.colorbox({inline: true, onComplete:function(){
                area1();


   
            }});
    function area1() {
        $('#area').highcharts({
            chart: {
                type: 'area',
                spacingBottom: 30
            },
            title: {
                text: '簇缩放图'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 150,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            xAxis: {
                categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月']
            },
            yAxis: {
                title: {
                    text: '大小'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y;
                }
            },
            plotOptions: {
                area: {
                    fillOpacity: 0.5
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '观点1',
                data: [0, 1, 4, 4, 5, 2, 3, 7]
            }, {
                name: '观点2',
                data: [1, 0, 3, null, 3, 1, 2, 1]
            }]
        });
    };
**/
        }


/**        var onadd = function () {
            var row = getSelectedRow();
            document.getElementById("info").innerHTML += "item " + row + " created<br>";
            //var content = data.getValue(row, 2);
            var newContent = prompt("Enter content");
            if (newContent != undefined) {
                data.setValue(row, 2, newContent);
                timeline.redraw();
            }
            else {
                // cancel adding the item
                timeline.cancelAdd();
            }
        };
**/
    </script>

    <!-- 弹出层 -->
    <style>
            body{font:12px/1.2 Verdana, sans-serif; padding:0 10px;}
            a:link, a:visited{text-decoration:none; color:#416CE5; border-bottom:1px solid #416CE5;}
            h2{font-size:13px; margin:15px 0 0 0;}
        </style>
    <link rel="stylesheet" href="../../static/opinion/js/reveal/example4/colorbox.css" />
    <script src="../../static/opinion/js/reveal/jquery.colorbox.js"></script>
    <script>
            $(document).ready(function(){
                //Examples of how to assign the Colorbox event to elements
                $(".group1").colorbox({rel:'group1'});
                $(".group2").colorbox({rel:'group2', transition:"fade"});
                $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
                $(".group4").colorbox({rel:'group4', slideshow:true});
                $(".ajax").colorbox();
                $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
                $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
                $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
                $(".inline").colorbox({inline:true});
                $(".callbacks").colorbox({
                    onOpen:function(){ alert('onOpen: colorbox is about to open'); },
                    onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
                    onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
                    onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
                    onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
                });

                $('.non-retina').colorbox({rel:'group5', transition:'none'})
                $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
                
                //Example of preserving a JavaScript event for inline calls.
                $("#click").click(function(){ 
                    $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
        </script>





  </head>

  <body onload="drawVisualization();">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-muted" size="+3"><strong>语义模块</strong></h2>
        </div>
        <hr class="soften">
      </div>

      <div class="row">
        <div class="col-lg-2">
          <button type="button" class="btn btn-lg btn-warning btn-block">话题</button>
          <hr class="soften">
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-lg btn-primary btn-block">微博</button>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-lg btn-primary btn-block">新闻</button>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-lg btn-primary btn-block">博客</button>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-1">
          <button type="button" class="btn btn-lg btn-primary btn-block">论坛</button>
        </div>
      </div>

        <div class="row">
          <div id="mytimeline"></div>
          <hr class="soften">
        </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>簇三元组</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>序号</th>
                <th>项1</th>
                <th></th>
                <th></th>
              </th>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <th>内容</th>
                <th>内容</th>
                <th>内容</th>
              </tr>
              <tr>
                <th>2</th>
                <th>内容</th>
                <th>内容</th>
                <th>内容</th>
              </tr>
              <tr>
                <th>3</th>
                <th>内容</th>
                <th>内容</th>
                <th>内容</th>
              </tr>
              <tr>
                <th>4</th>
                <th>内容</th>
                <th>内容</th>
                <th>内容</th>
              </tr>
            </tbody>
          </table>
          <p>
            <!--<a class="inline" href="#area">查看详情 &raquo;</a>-->
            
        </p>

          <hr class="soften">
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-7">
            <h2>簇缩放图</h2>
            <div id="pie_chart"></div>
        </div>
    </div>

        <div class="row">
          <h2>簇缩放图</h2>
          <div id="area"></div>
          </div>
        <hr class="soften">
    

        <div class="row">
          <h2>簇代表文本</h2>
          <p>博主最有爱了，，小伙伴们快来围观求抽中@周婷不做重口味好多年 @垦爷儿@怪咖么么-[亲亲]</p>
          <p>博主最有爱了，，小伙伴们快来围观求抽中@周婷不做重口味好多年 @垦爷儿@怪咖么么-[亲亲]</p>
          <p>博主最有爱了，，小伙伴们快来围观求抽中@周婷不做重口味好多年 @垦爷儿@怪咖么么-[亲亲]</p>
          <p>博主最有爱了，，小伙伴们快来围观求抽中@周婷不做重口味好多年 @垦爷儿@怪咖么么-[亲亲]</p>
          <p>博主最有爱了，，小伙伴们快来围观求抽中@周婷不做重口味好多年 @垦爷儿@怪咖么么-[亲亲]</p>
          <p><a class="btn btn-primary" href="#">查看详情 &raquo;</a></p>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; IDEC 2014</p>
      </div>

      <div id="info"></div>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

  <script>
  $(function area() {
        $('#area').highcharts({
            chart: {
                type: 'area',
                spacingBottom: 30
            },
            title: {
                text: '簇缩放图'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 150,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            xAxis: {
                categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月']
            },
            yAxis: {
                title: {
                    text: '大小'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y;
                }
            },
            plotOptions: {
                area: {
                    fillOpacity: 0.5
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '观点1',
                data: [0, 1, 4, 4, 5, 2, 3, 7]
            }, {
                name: '观点2',
                data: [1, 0, 3, null, 3, 1, 2, 1]
            }]
        });
    });
  </script>

    <script>
$(function () {
    $('#pie_chart').highcharts({
        credits: {
            enabled: false
        },
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '相关饼图'
        },
        tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: '话题比例',
            data: [
                ['话题1',   45.0],
                ['话题2',       26.8],
                {
                    name: 'C话题3',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['话题4',    8.5],
                ['话题5',     6.2],
                ['其他',   0.7]
            ]
        }]
    });
});
    

    </script>


</html>
