{% extends "evolution/evolution.html" %}
{% block title %}演化分析{% endblock %}

{% block head %}
{{ super() }}
<link href="../../static/opinion/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/moodlens/css/toggle_switch.css">
<style>
  #vertical-ticker {
        overflow: auto;
        margin-left: 1px;
        margin-top: 2px;
        padding: 0;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    }
    #togglecount{
        width: 200px;
        position: absolute;
        top: 25px;
        left: 90px;
        z-index: 1000;
    }
</style>
{% endblock %}
    
{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="caption" style="float:left">
          <div style="float:left;padding-left:50px;">
            <div style="float:left;padding-top:10px;padding-left:30px;">
              <label style="font-size:18px">起始时间：<span class="badge badge-info" style="font-size:18px">2014.4.3</span> </label>
              <label class="appendedInput" style="font-size:18px;padding-top:10px;">终止时间：<span class="badge badge-info" style="font-size:18px">2014.4.6</span></label>  
            </div>
            <div style="float:left;padding-top:10px;padding-left:30px;">
              <label style="font-size:18px">信息总量：<span class="badge badge-info" style="font-size:18px">10000</span> </label>
              <label class="appendedInput" style="font-size:18px;padding-top:10px;">用户数量：<span class="badge badge-info" style="font-size:18px">30000</span></label>  
            </div>
            <div style="float:left;padding-top:10px;padding-left:30px;">                
                <label class="appendedInput" style="font-size:18px">地域数量：<span class="badge badge-warning" style="font-size:18px">３０</span></label>
                <label class="appendedInput" style="font-size:18px;padding-top:10px;">媒体数量：<span class="badge badge-warning" style="font-size:18px"> １００</span></label>                
            </div>
          </div>
        </div>
      </div>
    </div><!--上侧基本信息-->
          
    <div class="row-fluid" style="padding-top:20px;padding-left:80px;">
        <div class="span12" id="index-tabs">
            <ul class="nav nav-pills tab_container">
              <li class="btn span2 btn-primary" style="width:150px;height:20px;"><a href="/evolution/topic_ajax_hot/?keyword={{keyword}}&time={{dur_time}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">热度演化</a></li>
              <li class="btn span2 " style="width:150px;height:20px;"><a href="/evolution/topic_ajax_area/?keyword={{keyword}}&time={{dur_time}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">领域演化</a></li>
              <li class="btn span2 " style="width:150px;height:20px;"><a href="/evolution/topic_ajax_spatial/?keyword={{keyword}}&time={{dur_time}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">地域演化</a></li>
              <li class="btn span2 " style="width:150px;height:20px;"><a href="/evolution/topic_ajax_stat/?keyword={{keyword}}&time={{dur_time}}" align="center" style="padding-top: 2px;padding-bottom: 2px;color:black;">热度指标</a></li>        
            </ul>
            <div id="content_container">
                <div class="row" style="border:soft">
                    <div class="col-lg-12">
                        <div class="control-group" id="togglecount">
                            <div class="controls btn switch switch-two">
                                <input id="relative" name="view" type="radio" checked>
                                <label for="relative" onclick="load_relative();">相对比例</label>

                                <input id="absolute" name="view" type="radio">    
                                <label for="absolute" onclick="load_absolute();">绝对数量</label>                       
                                <span class="slide-button btn btn-success"></span>
                            </div>
                        </div>
                        <!-- 在此插入div是为了换行 -->
                        <div>
                            <p></p>
                        </div>
                        <div id="line_container" style="height:500px;"></div>
                    </div>
                      
                </div>
                <!--饼图和词云-->
                <div class="row">
                    <hr></hr>
                    <div class="col-lg-6" >
                        <div id="pie" style="height:400px;margin-top:50px;border-color:#d9d9d9;border-style:solid;border-width:1px 1px 1px 1px"></div>
                    </div>
                    
                    <div class="col-lg-6" >
                        <div id="wordcloud" style="height:400px;margin-top:50px;width=500px;border-color:#d9d9d9;border-style:solid;border-width:1px 1px 1px 1px">
                             <canvas width="500px" height="400px" id="myCanvas" style="margin-left:0px;">
                                <p>Anything in here will be replaced on browsers that support the canvas element</p>
                            </canvas>
                            <div id="tags_div">
                                <ul id="tags_ul"><li><a style="font-size:1ex">关键词云数据为空</a></li></ul>
                            </div>
                            <button type="button" class="btn btn-primary" id="download1" onclick="download1();" style="float:right;">下载图片</button>
                        </div>
                        
                    </div>      
                </div>
                <div id="weibo_container" class="col-lg-12">
                    <hr></hr>
                    <p><span class="label label-info" id="event_title"></span>
                       <span id ="list" class="label label-success">关键微博列表</span>
                        <div id="TopN" style="height:300px;overflow-x: auto; overflow-y: auto;">
                            <ul id="vertical-ticker"> 
                            </ul>
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script src="../../static/moodlens/js/jquery.min.js"></script>
<script src="../../static/moodlens/js/highstock.js"></script>
<script src="../../static/moodlens/js/exporting.js"></script>
<script src="../../static/moodlens/js/jquery.tagcanvas.min.js"></script>
<script src="../../static/moodlens/js/jquery.totemticker.js"></script>
<script>
    var query = "九一八";
    var START_TS = 1379433600;
    var END_TS = 1379520000;
    var DURING_INTERGER = 15*60;
    var WEIBOS_LIMIT = 10;
    var KEYWORDS_LIMIT = 10;
    var click_flag=false;
    var status_flag = 'relative';
    var series_flag = [1, 1, 1, 1, 1, 1, -1, -1, -1]; //记录9个series选中与否的状态

    var evolution_ratio = {};
    var evolution_absolute={};

    var original_absolute = [];
    var comment_absolute = [];
    var forward_absolute = [];

    var original_ratio = [];
    var comment_ratio = [];
    var forward_ratio = [];

    var original_list = [];
    var comment_list = [];
    var forward_list = [];
    var ts_list = [];

    var original_alist = [];
    var comment_alist = [];
    var forward_alist = [];
    var ts_alist = [];

    var oopts = {textHeight: 25,maxSpeed: 0.03,decel: 0.98,depth: 0.92,outlineColour: '#f6f',outlineThickness: 3,pulsateTo: 0.2,pulsateTime: 0.5,wheelZoom: false,textColour:'#00f',shadow:'#ccf',minBrightness:0.2,shadowBlur:3,weight:true,weightMode:'both'};
    var max_word_size = 10;
    var min_word_size = 1;
    
    var evolution_keys = ['original', 'comment', 'forward'];
    var source_status=1;//1 2 3 4分别代表微博 新闻 博客 论坛
//启动处
$(document).ready(function(){  
        display_realtime_evolution();
    })

function display_evolution_pie(data){
        Highcharts.setOptions({
            colors: ['#98FB98', '#FF7F50', '#4169E1']
        });
        // Build the chart
        $('#pie').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '演化饼图',
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        formatter:function(){
                            return '<b>'+this.point.name+'</b>'+this.percentage.toFixed(2)+'%';}

                    },
                    showInLegend: true
                }
            },
            navigation: {
                buttonOptions: {
                    verticalAlign: 'bottom',
                    y: -20
                }
            },
            series: [{
                type: 'pie',
                name: '演化数值',
                data: data
            }]
        });
    }

function chg_evolution_pie(raw_data){
        $('#pie').empty();
        if(raw_data[3] != 0){
            var data = [['原创', raw_data[0]], ['转发', raw_data[1]], ['评论', raw_data[2]]];
            display_evolution_pie(data);
        }

    }
function display_vertical_list(){
        $('#vertical-ticker').totemticker({
            row_height  :   '100px',
            next        :   '#ticker-next',
            previous    :   '#ticker-previous',
            stop        :   '#stop',
            start       :   '#start',
            mousestop   :   true,
        });
    }
function chg_weibos(data){
        var html = "";
        var emotion_content = ['happy', 'angry', 'sad'];
        for(var i=0;i<data.length;i+=1){
            if (data[i]['sentiment'] == 0){
                var emotion = 'nomood'
            }
            else{
                var emotion = emotion_content[data[i]['sentiment']-1];
            }
            var name = data[i]['user'];
            var user_link = 'http://weibo.com/u/'+data[i]['user'];
            var text = data[i]['text'];
            var weibo_link = data[i]['weibo_link'];
            var time = Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', parseInt(data[i]['timestamp']) * 1000);
            var repost_count = data[i]['reposts_count'];
            var retweeted_text = 'None';
            html += "<li><div class=\"chartclient-annotation-letter\"><img src='/static/img/" + emotion + "_thumb.gif'></div>"; 
            html += "<div class=\"chartclient-annotation-title\"><a href='" + user_link + "' target='_blank' >" + name + "</a> 发布 </div>";
            html += "<div class=\"chartclient-annotation-content\"><a href='" + weibo_link + "' target='_blank' >" + text + "</a></div>";
            if(retweeted_text != 'None'){
                html += "<div class=\"chartclient-annotation-content\">" + retweeted_text + "</div>";
            }
            html += "<div class=\"chartclient-annotation-date\"> " + time + "<span style=\"float:right\"> 转发数：" +  repost_count + "</span></div></li>";
        }
        $("#vertical-ticker").append(html);
        display_vertical_list();
    }

function isEmptyObject(obj){
        for ( var name in obj ) { 
            return false;
        } 
        return true; 
    } 

function redraw_tagcanvas() {
        if(!$('#myCanvas').tagcanvas(oopts,'tags_div')) {
            $('#myCanvas').hide();
        }
    }

function defscale(count, mincount, maxcount, minsize, maxsize){
      if(maxcount == mincount){
        return (maxsize + minsize) / 1.1
      }else{
        return (minsize + (maxsize - minsize) * Math.pow((count / (maxcount - mincount)), 2))/1.1
      }
    }
   
function chg_tagcloud(data) {
        $("#tags_ul").empty();
        var cloud_list = [];
        var max_count = 0;
        var min_count = 0;
        for (var i in data) {
            if(max_count < parseInt(data[i])){
                max_count = parseInt(data[i]);
            }
            if(min_count > parseInt(data[i])){
                min_count = parseInt(data[i]);
            }
            cloud_list.push([parseInt(data[i]), i]);
        }
        for (var i=0;i<cloud_list.length;i++) {
            $("#tags_ul").append("<li><a href='#tag_cloud_div' style=\"font-size:"+ defscale(cloud_list[i][0], min_count, max_count, min_word_size, max_word_size) +"ex\">"+ cloud_list[i][1] +"</a></li>");
        }
        redraw_tagcanvas();
    }

function init_statistics(end_ts, duration){
        //end_ts为截止时间戳, duration为整个时间段的秒数
        
        $.ajax({
            url: "/evolution/weibos_data/?evolution=forward&query="+query+"&ts=" + end_ts ,
            type: "GET",
            dataType:"json",
            success: function(data){
                $("#vertical-ticker").empty();
                var original_length = data['forward'].length;
                if(original_length > 0){
                    var weibos = [];
                    for(var i = 0; i < original_length; i+=1){
                        weibos.push(data['forward'][i]);
                    }
                    chg_weibos(weibos);
                }
                else{
                    $("#vertical-ticker").empty();
                    $("#vertical-ticker").append("关键微博为空！");
                }
            }
        });
        $.ajax({
            url: "/evolution/keywords_data/?ts=" + end_ts + "&evolution=original&query=" + query,
            type: "GET",
            dataType:"json",
            success: function(data){
                
                if(data=='search function undefined'){
                    $("#tags_ul").empty();
                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                    redraw_tagcanvas();
                }
                else{
                    if(isEmptyObject(data[0]['word']) ){
                        $("#tags_ul").empty();
                        $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                        redraw_tagcanvas();
                    }
                    else{
                        var cloud = new Array();
                        for (var i=0;i<data.length;i++){
                            var name = data[i]['word'];
                            cloud[name] = data[i]['weight'];
                        }
                        chg_tagcloud(cloud);
                    }
                }
            }
        });
        $.ajax({
            url: "/evolution/count_data/?ts=" + end_ts + "&query=" + query,
            type: "GET",
            dataType:"json",
            success: function(data){
                var original_evolution_count = data['original'];//1是original
                var forward_evolution_count = data['forward'];//2是forward
                var comment_evolution_count = data['comment'];//3是comment
                var total_count = parseInt(original_evolution_count) + parseInt(comment_evolution_count) + parseInt(forward_evolution_count);
                chg_evolution_pie([original_evolution_count, comment_evolution_count, forward_evolution_count, total_count]);
            }
        })
    }

function get_absolute_peaks(series7, series8, series9, during){
        $.ajax({
            url: "/evolution/evolutionpeak/?lis=" + original_alist.join(',') + "&ts=" + ts_alist + '&during=' + during + "&emotion=original",
            type: "GET",
            dataType:"json",
            success: function(data){
              if ( data != 'Null Data'){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                var original_title = title;
                
                var text = data[i]['text'];
                var original_text = text;
                
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var evolution = this.evolution;
                    var title = this.title;
                    $.ajax({
                        url: "/evolution/weibos_data/" + evolution + "/global/?ts=" + click_ts + '&limit=' + WEIBOS_LIMIT + "&query=" + QUERY_ARG + "&during=" + during + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            $("#event_title").html(title);
                            if(data[evolution].length>0){
                                chg_weibos(data[evolution]);
                            }
                            else{
                                $("#vertical-ticker").append("关键微博为空！");
                            }
                        }
                    });
                    $.ajax({
                        url: "/evolution/keywords_data/global/?ts=" + click_ts + "&evolution=" + evolution + "&limit=" + KEYWORDS_LIMIT + "&query=" + QUERY_ARG+ "&during=" + during + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            if(data=='search function undefined'){
                                $("#tags_ul").empty();
                                $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                redraw_tagcanvas();
                            }
                            else{
                                if(isEmptyObject(data[evolution])){
                                    $("#tags_ul").empty();
                                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                    redraw_tagcanvas();
                                }
                                else{
                                    chg_tagcloud(data[evolution]);
                                }
                            }
                        }
                    });
                    chg_evolution_pie(evolution_absolute[this.x]);     
                }
                series7.addPoint({'x': x, 'title': original_title, 'text': original_text, 'evolution': 'original', 'events': {'click': flagClick}}, true, isShift);
              }
            }
        }
        })
        $.ajax({
            url: "/evolution/evolutionpeak/?lis=" + comment_alist.join(',') + "&ts=" + ts_alist + '&during=' + during + "&evolution=comment",
            type: "GET",
            dataType:"json",
            success: function(data){
              if ( data != 'Null Data'){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                //var original_title = title['original'];
                var comment_title = title;
                //var forward_title = title['forward'];
                var text = data[i]['text'];
                //var original_text = text['original'];
                var comment_text = text;
                //var forward_text = text['forward'];
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var evolution = this.evolution;
                    var title = this.title;
                    $.ajax({
                        url: "/evolution/weibos_data/" + evolution + "/global/?ts=" + click_ts + '&limit=' + WEIBOS_LIMIT + "&query=" + QUERY_ARG + "&during=" + during + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            $("#event_title").html(title);
                            if(data[evolution].length>0){
                                chg_weibos(data[evolution]);
                            }
                            else{
                                $("#vertical-ticker").append("关键微博为空！");
                            }
                        }
                    });
                    $.ajax({
                        url: "/evolution/keywords_data/global/?ts=" + click_ts + "&evolution=" + evolution + "&limit=" + KEYWORDS_LIMIT + "&query=" + QUERY_ARG + "&during=" + during + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            if(data=='search function undefined'){
                                $("#tags_ul").empty();
                                $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                redraw_tagcanvas();
                            }
                            else{
                                if(isEmptyObject(data[evolution])){
                                    $("#tags_ul").empty();
                                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                    redraw_tagcanvas();
                                }
                                else{
                                    chg_tagcloud(data[evolution]);
                                }
                            }
                        }
                    });
                    chg_evolution_pie(evolution_absolute[this.x]);     
                }
                //series4.addPoint({'x': x, 'title': original_title, 'text': original_text, 'evolution': 'original', 'events': {'click': flagClick}}, true, isShift);
                series8.addPoint({'x': x, 'title': comment_title, 'text': comment_text, 'evolution': 'comment', 'events': {'click': flagClick}}, true, isShift);
                //series6.addPoint({'x': x, 'title': forward_title, 'text': forward_text, 'evolution': 'forward', 'events': {'click': flagClick}}, true, isShift);
              }
            }
        }
        })
        $.ajax({
            url: "/evolution/evolutionpeak/?lis=" + forward_alist.join(',') + "&ts=" + ts_alist + '&during=' + during + "&evolution=forward",
            type: "GET",
            dataType:"json",
            success: function(data){
              if ( data != 'Null Data'){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                //var original_title = title['original'];
                //var comment_title = title['comment'];
                var forward_title = title;
                var text = data[i]['text'];
                //var original_text = text['original'];
                //var comment_text = text['comment'];
                var forward_text = text;
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var evolution = this.evolution;
                    var title = this.title;
                    $.ajax({
                        url: "/evolution/weibos_data/" + evolution + "/global/?ts=" + click_ts + '&limit=' + WEIBOS_LIMIT + "&query=" + QUERY_ARG + "&during=" + during + "&customized=" + CUSTOMIZED, 
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            $("#event_title").html(title);
                            if(data[evolution].length>0){
                                chg_weibos(data[evolution]);
                            }
                            else{
                                $("#vertical-ticker").append("关键微博为空！");
                            }
                        }
                    });
                    $.ajax({
                        url: "/evolution/keywords_data/global/?ts=" + click_ts + "&evolution=" + evolution + "&limit=" + KEYWORDS_LIMIT + "&query=" + QUERY_ARG + "&during=" + during + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            if(data=='search function undefined'){
                                $("#tags_ul").empty();
                                $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                redraw_tagcanvas();
                            }
                            else{
                                if(isEmptyObject(data[evolution])){
                                    $("#tags_ul").empty();
                                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                    redraw_tagcanvas();
                                }
                                else{
                                    chg_tagcloud(data[evolution]);
                                }
                            }
                        }
                    });
                    chg_evolution_pie(evolution_absolute[this.x]);     
                }
                //series4.addPoint({'x': x, 'title': original_title, 'text': original_text, 'evolution': 'original', 'events': {'click': flagClick}}, true, isShift);
                //series5.addPoint({'x': x, 'title': comment_title, 'text': comment_text, 'evolution': 'comment', 'events': {'click': flagClick}}, true, isShift);
                series9.addPoint({'x': x, 'title': forward_title, 'text': forward_text, 'evolution': 'forward', 'events': {'click': flagClick}}, true, isShift);
              }

            }
        }
        })
    }

function get_peaks(series4, series5, series6, during){
        $.ajax({
            url: "/evolution/evolutionpeak/?lis=" + original_list.join(',') + "&ts=" + ts_list + '&during=' + during + "&evolution=original",
            type: "GET",
            dataType:"json",
            success: function(data){
              if ( data != 'Null Data'){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                var original_title = title;

                var text = data[i]['text'];
                var original_text = text;
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var evolution = this.evolution;
                    var title = this.title;
                    $.ajax({
                        url: "/evolution/weibos_data/" + evolution + "/global/?ts=" + click_ts + "&during=" + during + '&limit=' + WEIBOS_LIMIT + "&query=" + QUERY_ARG + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            $("#event_title").html(title);
                            if(data[evolution].length>0){
                                chg_weibos(data[evolution]);
                            }
                            else{
                                $("#vertical-ticker").append("关键微博为空！");
                            }
                        }
                    });
                    $.ajax({
                        url: "/evolution/keywords_data/global/?ts=" + click_ts + "&evolution=" + evolution+"&limit=" + KEYWORDS_LIMIT + "&during=" + during + "&query=" + QUERY_ARG + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            if(data=='search function undefined'){
                                $("#tags_ul").empty();
                                $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                redraw_tagcanvas();
                            }
                            else{
                                if(isEmptyObject(data[evolution])){
                                    $("#tags_ul").empty();
                                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                    redraw_tagcanvas();
                                }
                                else{
                                    chg_tagcloud(data[evolution]);
                                }
                            }
                        }
                    });
                    chg_evolution_pie(evolution_absolute[this.x]);     
                }
                series4.addPoint({'x': x, 'title': original_title, 'text': original_text, 'evolution': 'original', 'events': {'click': flagClick}}, true, isShift);
              }
            }
            },
            error: function(result) {
                    console.log(result);
                    //$("#loading_network_data").text("暂无结果!");
                    console.log("Status: " + result.status);
                    console.log("Status: " + result.textStatus);
                    console.log("Error: " + result.errorThrown); 
            }
        })
        $.ajax({
            url: "/evolution/evolutionpeak/?lis=" + comment_list.join(',') + "&ts=" + ts_list + '&during=' + during + "&evolution=comment" ,
            type: "GET",
            dataType:"json",
            success: function(data){
              if ( data != 'Null Data'){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                //var original_title = title['original'];
                var comment_title = title;
                //var forward_title = title['forward'];
                var text = data[i]['text'];
                //var original_text = text['original'];
                var comment_text = text;
                //var forward_text = text['forward'];
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var evolution = this.evolution;
                    var title = this.title;
                    $.ajax({
                        url: "/evolution/weibos_data/" + evolution + "/global/?ts=" + click_ts + "&during=" + during + '&limit=' + WEIBOS_LIMIT + "&query=" + QUERY_ARG + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            $("#event_title").html(title);
                            if(data[evolution].length>0){
                                chg_weibos(data[evolution]);
                            }
                            else{
                                $("#vertical-ticker").append("关键微博为空！");
                            }
                        }
                    });
                    $.ajax({
                        url: "/evolution/keywords_data/global/?ts=" + click_ts + "&evolution=" + evolution+"&limit=" + KEYWORDS_LIMIT + "&during=" + during + "&query=" + QUERY_ARG + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            if(data=='search function undefined'){
                                $("#tags_ul").empty();
                                $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                redraw_tagcanvas();
                            }
                            else{
                                if(isEmptyObject(data[evolution])){
                                    $("#tags_ul").empty();
                                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                    redraw_tagcanvas();
                                }
                                else{
                                    chg_tagcloud(data[evolution]);
                                }
                            }
                        }
                    });
                    chg_evolution_pie(evolution_absolute[this.x]);     
                }
                //series4.addPoint({'x': x, 'title': original_title, 'text': original_text, 'evolution': 'original', 'events': {'click': flagClick}}, true, isShift);
                series5.addPoint({'x': x, 'title': comment_title, 'text': comment_text, 'evolution': 'comment', 'events': {'click': flagClick}}, true, isShift);
                //series6.addPoint({'x': x, 'title': forward_title, 'text': forward_text, 'evolution': 'forward', 'events': {'click': flagClick}}, true, isShift);
              }
            }
        }
        })
        $.ajax({
            url: "/evolution/evolutionpeak/?lis=" + forward_list.join(',') + "&ts=" + ts_list + '&during=' + during + "&evolution=forward",
            type: "GET",
            dataType:"json",
            success: function(data){
              if ( data != 'Null Data'){
              var isShift = false;
              for(var i in data){
                var x = data[i]['ts'];
                var title = data[i]['title'];
                //var original_title = title['original'];
                //var comment_title = title['comment'];
                var forward_title = title;
                var text = data[i]['text'];
                //var original_text = text['original'];
                //var comment_text = text['comment'];
                var forward_text = text;
                var flagClick = function(event){
                    var click_ts = this.x / 1000;
                    var evolution = this.evolution;
                    var title = this.title;
                    $.ajax({
                        url: "/evolution/weibos_data/" + evolution + "/global/?ts=" + click_ts + "&during=" + during + '&limit=' + WEIBOS_LIMIT + "&query=" + QUERY_ARG + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            $("#vertical-ticker").empty();
                            $("#event_title").html(title);
                            if(data[evolution].length>0){
                                chg_weibos(data[evolution]);
                            }
                            else{
                                $("#vertical-ticker").append("关键微博为空！");
                            }
                        }
                    });
                    $.ajax({
                        url: "/evolution/keywords_data/global/?ts=" + click_ts + "&evolution=" + evolution+"&limit=" + KEYWORDS_LIMIT + "&during=" + during + "&query=" + QUERY_ARG + "&customized=" + CUSTOMIZED,
                        type: "GET",
                        dataType:"json",
                        success: function(data){
                            if(data=='search function undefined'){
                                $("#tags_ul").empty();
                                $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                redraw_tagcanvas();
                            }
                            else{
                                if(isEmptyObject(data[evolution])){
                                    $("#tags_ul").empty();
                                    $("#tags_ul").append("<li><a style='font-size:1ex'>关键词云数据为空</a></li>");
                                    redraw_tagcanvas();
                                }
                                else{
                                    chg_tagcloud(data[evolution]);
                                }
                            }
                        }
                    });
                    chg_evolution_pie(evolution_absolute[this.x]);     
                }
                series6.addPoint({'x': x, 'title': forward_title, 'text': forward_text, 'evolution': 'forward', 'events': {'click': flagClick}}, true, isShift);
              }

            }
        }
        })
    }

function pull_evolution_count(total_days, times, begin_ts, during, series1, series2, series3, series4, series5, series6,series7,series8,series9){
        if(times > total_days){
            get_peaks(series4, series5, series6, during);
            get_absolute_peaks(series7, series8, series9, during);
            click_flag=true;
            return;
        }
        var ts = begin_ts + times * during;
        $.ajax({
            url: "/evolution/count_data/?ts=" + ts + '&query=' + query,
            type: "GET",
            dataType:"json",
            success: function(data){
                var isShift = false;
                var original_evolution_count = data['original'];
                var comment_evolution_count = data['comment'];
                var forward_evolution_count = data['forward'];

                var total_evolution_count = original_evolution_count + comment_evolution_count + forward_evolution_count;
                if(total_evolution_count > 0){
                    var original_evolution_ratio = parseInt(original_evolution_count * 10000 / total_evolution_count) / 10000.0;
                    var comment_evolution_ratio = parseInt(comment_evolution_count * 10000 / total_evolution_count) / 10000.0;
                    var forward_evolution_ratio = parseInt(forward_evolution_count * 10000 / total_evolution_count) / 10000.0;
                    series1.addPoint([ts * 1000, original_evolution_ratio], true, isShift);
                    series2.addPoint([ts * 1000, comment_evolution_ratio], true, isShift);
                    series3.addPoint([ts * 1000, forward_evolution_ratio], true, isShift);

                    evolution_ratio[ts * 1000] = [original_evolution_ratio, comment_evolution_ratio, forward_evolution_ratio, total_evolution_count];
                    evolution_absolute[ts*1000]=[original_evolution_count, comment_evolution_count, forward_evolution_count, total_evolution_count];

                    original_absolute.push([ts * 1000, original_evolution_count]);
                    comment_absolute.push([ts * 1000, comment_evolution_count]);
                    forward_absolute.push([ts * 1000, forward_evolution_count]);

                    original_ratio.push([ts * 1000, original_evolution_ratio]);
                    comment_ratio.push([ts * 1000, comment_evolution_ratio]);
                    forward_ratio.push([ts * 1000, forward_evolution_ratio]);

                    original_list.push(original_evolution_ratio);
                    comment_list.push(comment_evolution_ratio);
                    forward_list.push(forward_evolution_ratio);
                    ts_list.push(ts);

                    original_alist.push(original_evolution_count);
                    comment_alist.push(comment_evolution_count);
                    forward_alist.push(forward_evolution_count);
                    ts_alist.push(ts);
                }
                else{
                    evolution_ratio[ts * 1000] = [0, 0, 0, 0];
                    evolution_absolute[ts*1000]= [0, 0, 0, 0];
                }
                times++;
                pull_evolution_count(total_days, times, begin_ts, during, series1, series2, series3, series4, series5, series6, series7,series8, series9);
            }
        });
        //预防用户在series加载完毕前，变换相对绝对。
        document.getElementById("relative").checked="checked";
    }

function display_realtime_evolution(){
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        var chart_obj = $('#line_container').highcharts({
            chart: {
                type: 'line',//spline,
                animation: Highcharts.svg, // don't animate in old IE
                //marginTop: 20,
                marginRight: 10,
                //marginLeft: 10,
                events: {
                    load: function() {
                        var during = DURING_INTERGER;
                        var begin_ts = START_TS;
                        var end_ts = END_TS;
                        var total_nodes = (end_ts - begin_ts) / during;
                        var times_init = 0;
                        init_statistics(end_ts, end_ts - begin_ts);
                        pull_evolution_count(total_nodes, times_init, begin_ts, during, this.series[0], this.series[1], this.series[2], this.series[3], this.series[4], this.series[5], this.series[6], this.series[7], this.series[8]);
                    }
                }
            },
            plotOptions:{
                line:{
                    events: {
                        legendItemClick: function () {
                            var seriesIndex = this.index;
                            series_flag[seriesIndex] = - series_flag[seriesIndex];
                            if(seriesIndex <= 2){
                                if(status_flag == 'absolute'){
                                    if(series_flag[seriesIndex] != series_flag[seriesIndex+6]){
                                        $(this.chart.series[seriesIndex+6].legendItem.element).trigger('click');
                                    }
                                }
                                else{
                                    if (series_flag[seriesIndex] != series_flag[seriesIndex+3]){
                                        $(this.chart.series[seriesIndex+3].legendItem.element).trigger('click');
                                    }
                                }
                            }
                        }
                    }
                }
            },
            title : {
                text: '微博演化走势图'
            },

            rangeSelector: {
                selected: 4,
                inputEnabled: false,
                buttons: [{
                    type: 'week',
                    count: 1,
                    text: '1w'
                }, {
                    type: 'month',
                    count: 1,
                    text: '1m'
                }, {
                    type: 'month',
                    count: 3,
                    text: '3m'
                }]
            },
            xAxis: {
                title: {
                    enabled: true,
                    text: '时间'
                },
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                min: 0,
                title: {
                    text: ' 条 数'
                },
            },
            tooltip: {
                valueDecimals: 2,
                xDateFormat: '%Y-%m-%d %H:%M'
            },
            legend: {
                layout: 'horizontal',
                //verticalAlign: true,
                //floating: true,
                align: 'center', //'right',
                verticalAlign: 'bottom',
                x: 0,
                y: -2,
                borderWidth: 1,
                //enabled: true,
                //itemHiddenStyle: {
                    //color: 'white'
                //}
            },
            exporting: {
                enabled: true
            },
            series: [{
                name: '原创',
                data: [],
                id: 'original',
                color: '#006600',
                marker : {
                    enabled : false,    
                }
            },{
                name: '转发',
                data: [],
                id: 'comment',
                color: '#FF0000',
                marker : {
                    enabled : false,    
                }
            },{
                name: '评论',
                data: [],
                id: 'forward',
                color: '#000099',
                marker : {
                    enabled : false,    
                }
            },{
                name: '相对拐点(原创)',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'original',
                shape : 'circlepin',
                width : 2,
                color: '#006600'
            },{
                name: '相对拐点(转发)',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'comment',
                shape : 'circlepin',
                width : 2,
                color: '#FF0000'
            },{
                name: '相对拐点(评论)',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'forward',
                shape : 'circlepin',
                width : 2,
                color: '#000099'
            },{
                name: '绝对拐点(原创)',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'original',
                shape : 'circlepin',
                width : 2,
                color: '#006600',
                //visible:false
                showInLegend: false
            },{
                name: '绝对拐点(转发)',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'comment',
                shape : 'circlepin',
                width : 2,
                color: '#FF0000',
                //visible:false
                showInLegend: false
            },{
                name: '绝对拐点(评论)',
                type : 'flags',
                data : [],
                cursor: 'pointer',
                onSeries : 'forward',
                shape : 'circlepin',
                width : 2,
                color: '#000099',
                //visible:false
                showInLegend: false
            }]
            });

        
    }

function load_absolute(){ 
    if(click_flag){
        var chart = $('#line_container').highcharts();
        chart.series[0].update({
            data : original_absolute
        });
        chart.series[1].update({
            data : comment_absolute
        });
        chart.series[2].update({
            data : forward_absolute
        });

        chart.series[3].update({
            showInLegend: false
        });
        chart.series[4].update({
            showInLegend: false
        });
        chart.series[5].update({
            showInLegend: false
        });
        chart.series[6].update({
            showInLegend: true
        });
        chart.series[7].update({
            showInLegend: true
        });
        chart.series[8].update({
            showInLegend: true
        });
        chart.series[3].hide();
        chart.series[4].hide();
        chart.series[5].hide();
        chart.series[6].show();
        chart.series[7].show();
        chart.series[8].show();

        status_flag = 'absolute';

    }
    else{
        alert("请等待相对曲线加载完毕！");
    }
}
function load_relative(){
    var chart = $('#line_container').highcharts();
    chart.series[0].update({
        data : original_ratio
    });
    chart.series[1].update({
        data : comment_ratio
    });
    chart.series[2].update({
        data : forward_ratio
    });
        chart.series[6].update({
            showInLegend: false
        });
        chart.series[7].update({
            showInLegend: false
        });
        chart.series[8].update({
            showInLegend: false
        });
        chart.series[3].update({
            showInLegend: true
        });
        chart.series[4].update({
            showInLegend: true
        });
        chart.series[5].update({
            showInLegend: true
        });
    chart.series[6].hide();
    chart.series[7].hide();
    chart.series[8].hide();
    chart.series[3].show();
    chart.series[4].show();
    chart.series[5].show();
    status_flag = 'relative';
   
} 
function chg2weibo(){
    var chart1 = $('#line_container').highcharts();
    chart1.setTitle({text:'微博演化走势图'}); 
    var chart2 = $('#pie').highcharts();
    chart2.setTitle({text:'微博演化饼图'});
    list=document.getElementById("list");
    list.innerHTML="关键微博列表";
    switch(source_status)
    {
        case 1:{

            break;                                    
        };

        case 2:{
            $('#news_button').removeClass('btn-success');
            $('#news_button').addClass('btn-primary');
            $('#weibo_button').removeClass('btn-primary');
            $('#weibo_button').addClass('btn-success');
            break;
        };
        
        case 3:{
            $('#blog_button').removeClass('btn-success');
            $('#blog_button').addClass('btn-primary');
            $('#weibo_button').removeClass('btn-primary');
            $('#weibo_button').addClass('btn-success');
            break;
        };
    
        case 4:{
            $('#forum_button').removeClass('btn-success');
            $('#forum_button').addClass('btn-primary');
            $('#weibo_button').removeClass('btn-primary');
            $('#weibo_button').addClass('btn-success');
            break;
        };
    }
    
    
    source_status=1;
}
function chg2news(){
    var chart1 = $('#line_container').highcharts();
    chart1.setTitle({text:'新闻演化走势图'}); 
    var chart2 = $('#pie').highcharts();
    chart2.setTitle({text:'新闻演化饼图'});
    list=document.getElementById("list");
    list.innerHTML="关键新闻列表";
    switch(source_status)
    {
        case 1:{
            $('#weibo_button').removeClass('btn-success');
            $('#weibo_button').addClass('btn-primary');
            $('#news_button').removeClass('btn-primary');
            $('#news_button').addClass('btn-success');
            break;
        };
    
        case 2:{
            break;
        };
        case 3:{
            $('#blog_button').removeClass('btn-success');
            $('#blog_button').addClass('btn-primary');
            $('#news_button').removeClass('btn-primary');
            $('#news_button').addClass('btn-success');
            break;
        };
        case 4:{
            $('#forum_button').removeClass('btn-success');
            $('#forum_button').addClass('btn-primary');
            $('#news_button').removeClass('btn-primary');
            $('#news_button').addClass('btn-success');
            break;
        };
    }
    
    
    source_status=2;
}
function chg2blog(){
    var chart1 = $('#line_container').highcharts();
    chart1.setTitle({text:'博客演化走势图'}); 
    var chart2 = $('#pie').highcharts();
    chart2.setTitle({text:'博客演化饼图'});
    list=document.getElementById("list");
    list.innerHTML="关键博客列表";
    switch(source_status)
    {
        case 1:{
            $('#weibo_button').removeClass('btn-success');
            $('#weibo_button').addClass('btn-primary');
            $('#blog_button').removeClass('btn-primary');
            $('#blog_button').addClass('btn-success');
            break;
        };
        
        case 2:{
            $('#news_button').removeClass('btn-success');
            $('#news_button').addClass('btn-primary');
            $('#blog_button').removeClass('btn-primary');
            $('#blog_button').addClass('btn-success');
            break;
        };
    
        case 3:{
            break;
        };
        
        case 4:{
            $('#forum_button').removeClass('btn-success');
            $('#forum_button').addClass('btn-primary');
            $('#blog_button').removeClass('btn-primary');
            $('#blog_button').addClass('btn-success');
            break;
        };
    }
    
    
    source_status=3;
}
function chg2forum(){
    var chart1 = $('#line_container').highcharts();
    chart1.setTitle({text:'论坛演化走势图'}); 
    var chart2 = $('#pie').highcharts();
    chart2.setTitle({text:'论坛演化饼图'});
    list=document.getElementById("list");
    list.innerHTML="关键帖子列表";
    switch(source_status)
    {
        case 1:{
            $('#weibo_button').removeClass('btn-success');
            $('#weibo_button').addClass('btn-primary');
            $('#forum_button').removeClass('btn-primary'); 
            $('#forum_button').addClass('btn-success');
            break;
        };
        case 2:{
            $('#news_button').removeClass('btn-success');
            $('#news_button').addClass('btn-primary');
            $('#forum_button').removeClass('btn-primary'); 
            $('#forum_button').addClass('btn-success');
            break;
        };
    
        case 3:{
            $('#blog_button').removeClass('btn-success');
            $('#blog_button').addClass('btn-primary');
            $('#forum_button').removeClass('btn-primary'); 
            $('#forum_button').addClass('btn-success');
            break;
        };
        case 4:{
            break;
        };
    }
    
    
    source_status=4;
}
function download1(){

    var canvas=document.getElementById('myCanvas');
    
    var dataURL=canvas.toDataURL();

    window.open('', '_blank').location.href=dataURL;

};
</script>
{% endblock script %}