
#HTip {position:absolute;display:block;padding:0px;text-align:left;z-index:999;font-size:12px;}
.Htip{position:relative; overflow: hidden; text-align: left;}
.Htip-jiantouTop{position:relative;z-index:1000;top:4px;height:15px;background:url(../images/htip_jup.png) no-repeat scroll center top;}
.Htip-jiantouDown{position:relative;z-index:1000;top:-4px;height:15px;background:url(../images/htip_jdown.png) no-repeat scroll center bottom;}
.Htip-jiantouLeft{position:absolute;z-index:1000;left:-11px;width:15px;height:40px;background:url(../images/htip_jleft.png) no-repeat scroll left center;}
.Htip-jiantouRight{position:absolute;z-index:1000;right:-11px;width:15px;height:40px;background:url(../images/htip_jright.png) no-repeat scroll right center;}

.Htip-borderTop,.Htip-borderBottom{height: 4px; margin-left: 4px; line-height: 0.1px; font-size: 1px; padding: 0px;}
.Htip-Lcanvas,.Htip-Rcanvas{position: absolute;height: 4px;width: 4px;overflow: hidden;line-height: 0.1px;font-size: 1px;}
.Htip-Lcanvas{left:0px;z-index:1001;}
.Htip-Rcanvas{right:0px;z-index:1001;}
.Htip-borderTop .Htip-Lcanvas{background:url(../images/left_top.png) no-repeat scroll right bottom;}
.Htip-borderTop .Htip-Rcanvas{background:url(../images/right_top.png) no-repeat scroll left bottom;}
.Htip-borderBottom .Htip-Lcanvas{background:url(../images/left_down.png) no-repeat scroll right top;}
.Htip-borderBottom .Htip-Rcanvas{background:url(../images/right_down.png) no-repeat scroll left top;}
.Htip-betweenCorners{height:4px;overflow:hidden;background-color:#E2E2E2;line-height:0.1px;font-size:1px;}

.Htip-contentWrapper{overflow:hidden;background:none repeat scroll 0% 0% white;border-width:0px 4px;border-style:solid;border-color:#E2E2E2;}
.Htip-title{background:none repeat scroll 0% 0% #F1F1F1;font-weight: bold;padding:5px 10px;color:#454545;font-size:14px;height:20px;line-height:20px;overflow:hidden;}
#Htitle{height:20px;line-height:20px;overflow:hidden;}
.Htip-close{float:right;position:relative;cursor:pointer;width:15px;height:15px;background:url(../images/htip_close.gif) no-repeat scroll left top;}
.Htip-content{background:none repeat scroll 0% 0% white;color:#454545;overflow:hidden;text-align:left;padding:5px 9px;line-height:150%;}

.Htip-vspib{background: url(../images/nav_logo.png) no-repeat scroll 0 0 transparent;border: 0 none;cursor: pointer;display: inline-block;height: 12px;margin-left: 5px;margin-right: 0px;vertical-align:3px;*vertical-align:3px;_vertical-align:0px;width: 13px;line-height:12px;overflow:hidden;padding:0px;}
.Htip-vspib-hover{background-position: -16px 0;}