{% extends "/root/master.html" %}
{% block module_title %}敏感博主识别{% endblock %}
{% block navbar %}

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>系统</strong></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">登录</a></li>
            <li><a href="../navbar-static-top/">管理</a></li>
            <li><a href="../navbar-fixed-top/">关于</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    {% endblock %}
  