{% extends "/opinion/base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="liwenwen">

    <title>系统界面</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/navbar-fixed-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>系统</strong></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./">登录</a></li>
            <li><a href="../navbar-static-top/">管理</a></li>
            <li><a href="../navbar-fixed-top/">关于</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <p> </p><p> </p><p> </p><p> </p><p> </p><p> </p>
        <legend>语义分析</legend>
        <div id="all_emotion" class="inline">
          <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>内容简介</b></font>
          <p>
          <a class="btn btn-primary" href="meaning.html">查看 &raquo;</a>
          </p>
        </div>
      </div>

      <div class="jumbotron">
        <p> </p><p> </p><p> </p><p> </p><p> </p><p> </p>
        <legend>语义分析</legend>
        <div id="all_emotion" class="inline">
          <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>内容简介</b></font>
          <p>
          <a class="btn btn-primary" href="meaning.html">查看 &raquo;</a>
          </p>
        </div>
      </div>

      <div class="jumbotron">
        <p> </p><p> </p><p> </p><p> </p><p> </p><p> </p>
        <legend>语义分析</legend>
        <div id="all_emotion" class="inline">
          <font color="#003366" face="Georgia, Times New Roman, Times, serif"><b>内容简介</b></font>
          <p>
          <a class="btn btn-primary" href="meaning.html">查看 &raquo;</a>
          </p>
        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
{% endblock %}
